@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$fuentePrincipal: 'Open Sans';

$colorPrincipal:#7D5BA6;


$colorHP: #FC6471;
$colorATK:#FFC857;
$ColorDEF: #0091AD;
$colorSPATK: #7D5BA6;
$colorSPDEF: #55D6BE;
$colorSPD: #48BEFF; 