.menuBar{
    width: 90%;
    height: 12rem;
    align-self: center;
    border-bottom: .1rem solid rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8rem ;

    &__logo{
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        justify-content: flex-end;
    }
    .icon-searchHeader{
        width: auto !important;
        height: auto !important;
        margin-right: 4rem;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
    &__input{
        width: 25%;
        height: 2rem;
        border: none;
        border-bottom: .1rem solid rgb(185, 185, 185);
        font-size: 1.4rem;
        font-weight: bold;
        color: #808080;
        outline: none;
        background: transparent;
        transition: all .3s;
        &:focus{
            border-bottom: .1rem solid rgb(0, 0, 0);
        }
    }
}